.col-md-12{
    /* border: 8px solid white; */
    background-color:gray;
    width:80%;
    height: 80px;
    margin-top:10px;
    display:inline-block;
    margin-bottom: 30px;
 
    
}



h2  {
text-align: center;
color: rgb(5, 5, 5);
line-height:-10px;
margin-top: 20px;


}

body {
    background-color:rgb(250, 244, 244);
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* 
img {
    border: 5px solid whitesmoke;
} */

.title-col {
        font-size: 20px;
        color:white;
        border: 8px solid white;
        background-color: rgb(173, 178, 187);
     
    
}

.form-control {
    margin-left: 200px;
}

.btn-primary {
    margin-left: 430px;
    background-color: grey;
}